body{
    background-color: #000000;
    margin: 0px;
}

h1{
    margin: 0px;
}

.header{
    background-color: #252525;
    height: 3.5rem;
    width: 100%;
    border-bottom: 0.11rem solid #AD0000;
}

.main{
    display: block;
}

.footer{
    position: absolute;
    bottom: 0;
    background-color: #252525;
    height: 3.5rem;
    width: 100%;
}

#titelText{
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translate(-50%, -50%);
}
#titelDark, #titleWeb{
    font-size: xx-large;
}

#logo{
    height: 8%;
    position: absolute;
    top: 4.8%;
    left: 12%;
    transform: translate(-50%, -50%);
}

#LauchContainer{
    display: block;
}

#textingContainer{
    display: none;
}

.LauchButton{
    background-color: black;
    
    color:#AD0000;
    font-weight: bold;
    font-size: large;

    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 80%;

    border-radius: 6%;
}

.LauchButton-fade-out, .texting-fade-out, .sendMsg-fade-out{
    opacity: 0;
    animation: fadeOut 500ms;
}

.texting-fade-in, .sendMsg-fade-in, .LauchButton-fade-in{
    opacity: 1;
    animation: fadeIn 500ms;
}

#texting{
    background: black;
    
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    
    width: 70%;
    height: 60%;

    border: 0.11rem solid #AD0000;
}

#sendMsg{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    
    width: 16%;
    height: 76%;

    background-image: url(../img/sendMsg_button_icon.png);
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: center;

    border: 0.13rem solid #000000;
    border-radius: 100%;
}

input, select, textarea{
    color: #AD0000;
}

textarea:focus, input:focus {
    color: #AD0000;
}

@keyframes fadeIn {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

